accelerate==0.21.0
aiohttp==3.9.2
aiosignal==1.3.1
altair==5.0.1
anyio==3.6.2
astor==0.8.1
async-timeout==4.0.2
attrs==23.1.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.12.2
blinker==1.6.2
blis @ file:///C:/b/abs_0asxckc55t/croot/cython-blis_1684139877472/work
boto3==1.28.9
botocore==1.31.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.3.1
catalogue @ file:///C:/ci_311/catalogue_1676433053381/work
certifi==2023.7.22
cffi @ file:///C:/ci_311/cffi_1676423759166/work
chardet==5.1.0
charset-normalizer==3.2.0
chromadb==0.3.26
click @ file:///C:/ci_311/click_1676433091657/work
clickhouse-connect==0.5.24
cohere==4.9.1
colorama==0.4.6
coloredlogs==15.0.1
confection @ file:///C:/b/abs_41ypt8t7st/croot/confection_1684136620764/work
contourpy @ file:///C:/ci_311/contourpy_1676431756017/work
cryptography==41.0.6
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///C:/ci_311/cymem_1676433199152/work
dataclasses-json==0.5.7
datasets==2.12.0
decorator==5.1.1
deeplake==3.6.5
diffusers==0.16.1
dill==0.3.7
diskcache==5.6.1
duckdb==0.7.1
einops==0.6.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
entrypoints==0.4
et-xmlfile==1.1.0
faiss-cpu==1.7.3
fastapi==0.95.1
filelock==3.12.2
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist==1.3.3
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.41
google-api-core==2.11.1
google-auth==2.21.0
google-cloud-aiplatform==1.26.1
google-cloud-bigquery==3.11.3
google-cloud-core==2.3.3
google-cloud-resource-manager==1.10.2
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
gpt-index==0.5.8
gpt4all==1.0.2
greenlet==2.0.2
grpc-google-iam-v1==0.12.6
grpcio==1.56.0
grpcio-status==1.56.0
gTTS==2.3.2
h11==0.14.0
hnswlib==0.7.0
httptools==0.5.0
huggingface-hub==0.14.1
humanfriendly==10.0
humbug==0.3.2
idna==3.4
importlib-metadata==6.8.0
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver @ file:///C:/ci_311/kiwisolver_1676431979301/work
langchain==0.0.329
langchainplus-sdk==0.0.20
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
llama-cpp-python==0.1.48
llama-index==0.6.25.post1
lz4==4.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib @ file:///C:/b/abs_49b2acwxd4/croot/matplotlib-suite_1679593486357/work
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
munkres==1.1.4
murmurhash @ file:///C:/ci_311/murmurhash_1676433836123/work
mypy-extensions==1.0.0
neo4j==5.9.0
networkx==3.1
nltk==3.8.1
numcodecs==0.11.0
numexpr==2.8.4
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682982345978/work
onnxruntime==1.15.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
openpyxl==3.0.10
overrides==7.3.1
packaging==23.1
pandas==2.0.3
pathos==0.3.1
pathy @ file:///C:/ci_311/pathy_1676443412454/work
pdfminer.six==20221105
peft==0.4.0
Pillow==10.2.0
playsound==1.3.0
ply==3.11
posthog==3.0.1
pox==0.3.3
ppft==1.7.6.7
preshed @ file:///C:/ci_311/preshed_1676438377646/work
proto-plus==1.22.3
protobuf==4.24.0
psutil==5.9.5
pulsar-client==3.2.0
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.7
pydeck==0.8.0
Pygments==2.16.1
pygpt4all==1.0.1
pygptj==2.0.3
PyJWT==2.8.0
pyllamacpp==1.0.6
Pympler==1.0.1
PyMuPDF==1.22.5
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyparsing @ file:///C:/ci_311/pyparsing_1678502182533/work
pypdf==3.17.0
PyQt5==5.15.7
PyQt5-sip @ file:///C:/ci_311/pyqt-split_1676428895938/work/pyqt_sip
pyre-extensions==0.0.29
pyreadline3==3.4.1
pyrsistent==0.19.3
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
referencing==0.30.2
regex==2023.3.23
requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work
responses==0.18.0
rich==13.5.2
rpds-py==0.9.2
rsa==4.9
s3transfer==0.6.1
sacremoses==0.0.53
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
semver==3.0.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
Shapely==1.8.5.post1
shellingham @ file:///C:/ci_311/shellingham_1676431367488/work
sip @ file:///C:/ci_311/sip_1676427825172/work
six==1.16.0
smart-open @ file:///C:/ci_311/smart_open_1676439339434/work
smmap==5.0.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.4.1
spacy==3.6.0
spacy-legacy @ file:///C:/b/abs_03fuap2pri/croot/spacy-legacy_1684141127990/work
spacy-loggers @ file:///C:/b/abs_d6x_m5j2nj/croot/spacy-loggers_1684139141178/work
SQLAlchemy==2.0.16
srsly @ file:///C:/ci_311/srsly_1678502316468/work
starlette==0.27.0
streamlit==1.30.0
streamlit-ace==0.1.1
streamlit-chat==0.0.2.2
sympy==1.12
tenacity==8.2.2
thinc @ file:///C:/b/abs_57lmcu9n14/croot/thinc_1684243959753/work
threadpoolctl==3.1.0
tiktoken==0.4.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.3
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
transformers==4.36.0
typer @ file:///C:/ci_311/typer_1676439579283/work
typing-inspect==0.8.0
typing_extensions @ file:///C:/b/abs_213vg2cd1l/croot/typing_extensions_1690297804941/work
tzdata==2023.3
tzlocal==4.3.1
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
uvicorn==0.22.0
validators==0.21.2
wasabi @ file:///C:/ci_311/wasabi_1676439758261/work
watchdog==3.0.0
watchfiles==0.19.0
websockets==11.0.3
wget==3.2
wikipedia==1.4.0
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wincertstore==0.2
xformers==0.0.20
xxhash==3.2.0
yarl==1.8.2
zipp==3.16.2
zstandard==0.21.0
